html {
  min-height: 100%;
  min-width: 100%;
}

body {
  background-image: url(img/cover-landscape.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  /* overflow: hidden !important; */
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

.bg-emas {
  background-color: #edc967;
}

.btn-gold {
  background-color: #edc967;
}

.list-group-item {
  background-color: #edc967;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link i {
  margin-bottom: 5px;
}

#cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section#mempelai {
  background: #edc967;
  padding-top: 4rem;
}

section#gallery {
  background: #edc967;
}

.box-shadow {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

@media only screen and (min-width: 1200px) {
  img.border {
    border-width: 0.4rem !important;
  }
}

@media only screen and (max-width: 1199px) {
  img.border {
    border-width: 0.2rem !important;
  }

  .hati {
    margin-bottom: 4rem;
  }
}
img.border {
  border-color: #edc967 !important;
}

.card {
  outline-color: transparent !important;
  display: flex;
  align-items: center;
  height: 8rem;
  margin-bottom: 10px;
}

.card-img-top {
  object-fit: cover !important;
  height: 100% !important;
}

.heart-circle {
  position: absolute;
  top: -37.5px;
  left: 52%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background-color: #edc967;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  scale: 1.5;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.container .image-container {
  columns: 5 75px !important;
  gap: 10px !important;
  align-items: center !important;
  align-self: center !important;
  align-content: center !important;
}

.container .image-container img {
  margin-bottom: 10px !important;
  border-radius: 5px !important;
  width: 100% !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}

#pauseplay {
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 9999;
}

.section-divider {
  position: relative;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.hr-heart {
  display: flex;
}
.hr-line {
  width: 100%;
  position: relative;
  margin: 15px;
  border-bottom: 16px dotted #a4c639;
}
.gold {
  border-color: #edc967;
}
.dgold {
  border-color: #b8860b;
}
.tengah {
  position: relative;
  top: 3px;
  background: -moz-linear-gradient(right, #edc967 0%, #b8860b 100%);
  background: -webkit-linear-gradient(right, #edc967 0%, #b8860b 100%);
  background: linear-gradient(to right, #edc967 0%, #b8860b 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
